<div class="container-fluid">   
    <div class="row">
        <div class="col-lg-2"> 
            <div class="text">           
                <a class="text-light" routerLink="/inicio">Desafio Trello</a>    
            </div>  
            <button mat-raised-button class="btn-primary" color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
                Adicionar quadro
            </button> 
        </div> 
        <div class="col-lg-10 ">                       
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" *ngFor="let board of listBoards">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-size:10pt">{{board.titulo}}</h5>              
                            <button mat-raised-button class="btn-info" routerLink="/board/{{board.id}}" color="primary">
                                <mat-icon>folder_open</mat-icon>
                                Abrir
                            </button>                      
                            <button mat-raised-button class="btn-danger" (click)="deleteBoard(board.id)" color="warn">
                                <mat-icon>delete</mat-icon>
                                Deletar
                            </button>  
                        </div>
                    </div>
                </div>
                <br/>    
            </div>
            <a href="https://github.com/laishelen/desafioTrello">
                <div class="box">
                    <mat-icon class="matIcon" svgIcon="logo"></mat-icon>   
                </div>  
            </a>    
        </div>
    </div>
</div>

