.btn-primary {
    margin-top:60px;
    width:200px;
    height:40px;
}

.card {
    margin:0 auto;
    margin-top:80px;    
    margin-bottom:15px;
    width:280px;
    height:115px;
    border-radius:10px;
}

.btn-info {
    margin-top:5px;
    margin-right:8px;
    width:105px;
    height:40px;
}

.btn-danger {
    margin-top:5px;
    width:110px;
    height:40px;
}

.col-lg-2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#3F51B5;
    text-align: center;  
    flex-basis: 60%;  
}

.col-lg-10 {     
    background-color:#303F9F;
}

.text {   
    margin-top:30px;
    font-size:18pt;
}

.box {
    position: absolute;
    right:15px;
    top:15px;
    width:40px;
    height:40px;
    background:white;
    border-radius:30px;
}

.matIcon { 
    margin-top:2px; 
    margin-left:2px; 
    width:35px;
    height:35px;
}

.box:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

@media (min-width: 768px) {
  .mat-icon {
    padding: 1px;
  }
}





