.buttonBack {
    width:100px;
    height:40px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:-15px;
}

.mat-mdc-raised-button.buttonBack {
    background-color: black;
    color: white;
}

.mat-mdc-raised-button.backButton {
    margin-top: -10px;
    height:40px;
    background-color: black;
    color: white;
}

.addAnotherList {
    width:200px;
    height:40px;
}

.removeList {
    width:155px;
    height:40px;
    margin-left:20px;
}

.title {
    margin-left:-15px;
    margin-top:10px;
    margin-bottom:30px;
    font-size:16pt;
    font-weight: bold;
}

.card {
    width: 267px;
    margin-bottom:16px;
}

.align {
    text-align: center;
}

.addButton {    
    margin-top: -10px;
    margin-left:5px;
    width:120px;
    height:40px;
}

.example-full-width {
    margin-left:-15px;
    margin-top:10px;
    width: 255px;
}




