.buttonBack {
    width:130px;
    height:40px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:50px;
}

.taskList {
    margin-left: 50px;
}

.mat-mdc-raised-button.buttonBack {
    background-color: black;
    color: white;
}

.mat-mdc-raised-button.backButton {
    margin-top:-10px;
    width:130px;
    height:40px;
    background-color: black;
    color: white;
}

.addAnotherList {
    width:200px;
    height:40px;
}

.removeList {
    width:155px;
    height:40px;
    margin-left:20px;
}

.title {
    margin-left:50px;
    margin-top:10px;
    margin-bottom:30px;
    font-size:16pt;
    font-weight: bold;
}

.card {
    width: 19.4%;
    margin-left:50px;
    margin-bottom:16px;
    align-items: center;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

span {
    margin-bottom:15px;
    text-align: center;
}

.addButton {  
    margin-top:-10px; 
    margin-left:5px;
    width:130px;
    height:40px;
}

.example-full-width {
    margin-top:15px;
    width:90%;
}




