<app-menu></app-menu>

<button mat-raised-button class="buttonBack" color="basic" routerLink="/inicio">
    <mat-icon>keyboard_return</mat-icon>
    Voltar
</button>     
<button mat-raised-button class="addAnotherList" color="primary" (click)="showAddTaskList =!showAddTaskList">
    <mat-icon>add</mat-icon>
    Adicionar outra lista
</button>  
<button mat-raised-button class="removeList" (click)="openDialog()" role="button" aria-expanded="false" aria-controls="collapseExample" color="warn">
    <mat-icon>delete</mat-icon>
    Remover lista
</button>  

<div class="title">{{selectedBoard.titulo}}</div>
<div *ngIf="showAddTaskList" class="card" flex="20%">
    <span>        
        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput [(ngModel)]="newList.titulo" placeholder="Insira o título para a lista..."> 
        </mat-form-field>   
        <button mat-raised-button class="backButton" color="basic" (click)="showAddTaskList =!showAddTaskList">
            <mat-icon>keyboard_return</mat-icon>
            Voltar                
        </button>              
        <button mat-raised-button class="addButton" color="primary" *ngIf="showAddTaskList" (click)="addList()">
            <mat-icon>add</mat-icon>
            Lista
        </button> 
    </span>
</div>    

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="20%" class="taskList" *ngFor="let taskList of listAllTaskList">
        <app-task-list  
            cdkDropList
            [cdkDropListConnectedTo]="arrayTaskListId"                        
            (cdkDropListDropped)="drop($event)"  
            [listDetails]="taskList" 
            id="{{taskList.id}}"> 
        </app-task-list> 
    </div>
</div>