.grab {
  cursor: move;
  width:164px;
  height: 40px;
  padding: 5px 15px;
}

.menu-drop{   
  display: inline-block;
  position: relative;
  right: auto;
}  

.box {
  margin-top: 3px;
  border:1px solid #444;
  width:230px;
}

.box input {
  border:0;
  background: #ffffff;
}

.modal-dialog {
  max-width:500px;
}

.modal-body {
  max-width:350px;
}

.description {
  margin-top: 20px;
  font-size:13pt;
}

.textarea {
  width:465px;
}

.title {
  width:240px;
}