.grab {
  cursor: move;
  width:164px;
  height: 40px;
  padding: 5px 15px;
}

.menu-drop{      
  margin-top:3px;
  background-color: white; 
  display: inline-block;
  position: absolute;
  right:3px;
}  

.box {
  margin-left: -23px;
  border:1px solid #000000;
  width:261px;
  background-color: white;
}

.box input {
  border:0;
  background: #ffffff;
}

.modal-dialog {
  max-width:500px;
}

.modal-body {
  max-width:350px;
}

.description {
  margin-top: 20px;
  font-size:13pt;
}

.textarea {
  width:465px;
}

.title {
  width:240px;
}

.buttonEdit:hover {
  background-color: rgba(0, 0, 0, 0.099);
}

.buttonDelete:hover {
  background-color: rgba(0, 0, 0, 0.099);
}
