<div class="box">
    <input class="grab" disabled value="{{taskDetail.titulo}}" id="{{taskDetail.id}}"/>
    <div class="menu-drop">
        <button mat-button class="button" [matMenuTriggerFor]="menu" color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="buttonEdit" (click)="openDialog()">
                <mat-icon>edit</mat-icon>
                    Editar
            </button>
            <button mat-menu-item class="buttonDelete" (click)="deleteTask()">
                <mat-icon>delete</mat-icon>
                Deletar
            </button>          
        </mat-menu>        
    </div>    
</div>



