.card {
    width:17rem;
}

.card-title {
    font-size:12pt;
    font-weight:bold;
}

.list-card-composer-textarea {
    overflow-wrap:break-word; 
    resize:none; 
    width:230px;
    height:30px;
}

.btn-dark {
    margin-top:10px;
    margin-bottom:10px;
}

.btn-outline-secondary {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:3px;
    width:180px;
    height:40px;
}

.btn-info {
    margin-top:30px;
    width:230px;
    height:38px;
}