<mat-card class="example-card">
    <mat-card-header class="header">
        <mat-card-title> {{listDetails.titulo}} </mat-card-title>
    </mat-card-header>
    
    <cdk-virtual-scroll-viewport class="example-viewport" #viewPort itemSize="48" matSort>     
        <div class="example-accordion">
            <div *ngFor="let task of taskList" class="example-item">
                <app-task 
                    cdkDrag [cdkDragData]=task                                             
                    class="example-box" 
                    [taskDetail]="task" id="{{task.id}}"
                    (updateParent)="getTasks()">
                </app-task>         
            </div>            
        </div>
    </cdk-virtual-scroll-viewport>   

    <mat-form-field class="example-full-width" *ngIf="showAddTask" appearance="outline">
        <input  matInput [(ngModel)]="newTask.titulo" dir="auto"
                placeholder="Insira um título para o cartão..." data-autosize="true"> 
    </mat-form-field> 

    <mat-card-actions>
        <button mat-raised-button class="buttonBack" *ngIf="showAddTask" (click)="cancelTask()">
            <mat-icon>keyboard_return</mat-icon>   
            Voltar             
        </button>   
        <button mat-raised-button class="addTask" color="primary" *ngIf="showAddTask" (click)="saveTask()">
            <mat-icon>add</mat-icon>
            Tarefa
        </button>    
                    
        <button mat-raised-button class="addTask2" color="primary" *ngIf="!showAddTask" (click)="showAddTask=!showAddTask">
            <mat-icon>add</mat-icon>
            Adicionar tarefa
        </button>  
    </mat-card-actions>     
</mat-card>

